#calculator{
    border: 1px solid rgb(34, 32, 32);
    border-radius: 5px;
    width:300px;
    background-color: bisque;
    
}
#display{
    margin: 15px;
    width:85%;
    height:50px;
    font-size: 20px;
}
.button{
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: ;
}
.button_container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: aqua;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}